name: TermTools CI (Release)
# on: [push]
on:
  push:
    tags: 
      - 'v*'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1.0.0
        with:
          arch: x64
          # Windows SDK number to build for
  #         sdk: # optional
          # Enable Specre mitigations
  #         spectre: # optional
          # VC++ compiler toolset version
          toolset: 14.24
      - name: Configure CMake (Release)
        run: cmake -DCMAKE_BUILD_TYPE=Release -G"NMake Makefiles" -B .\build
      - name: Run NMAKE
        run: nmake
        working-directory: .\build
      - name: Run CTest
        run: nmake test
        working-directory: .\build
      - name: make output dir
        if: success()
        run: mkdir output
      - name: copy files
        if: success()
        run: copy ./build/bin/Release/*.exe ./output
      - name: create artifact
        id: create_artifact
        if: success()
        uses: actions/upload-artifact@v1.0.0
        with:
          name: TermTools-Release
          path: ./output
      - name: download artifact
        if: success()
        uses: actions/download-artifact@v1
        with:
          name: TermTools-Release
      - name: Create a Release
        id: create_release
        if: success()
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Upload a Release Asset
        id: upload_release_assets
        if: success()
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          # The path to the asset you want to upload
          asset_path: ./TermTools-Release.zip
          # The name of the asset you want to upload
          asset_name: TermTools-Release.zip
          # The content-type of the asset you want to upload. See the supported Media Types here: https://www.iana.org/assignments/media-types/media-types.xhtml for more information
          asset_content_type: application/zip
